@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$main-color: #FFE031;
$dark-color: #414141; //textos
$gray-color: #A7A7A7;
$complementary-color: #CCCCCC;
$font-buttons-category-color: #6C6C6C;
$font-roboto: 'Roboto', sans-serif;
$background_inputs: #e0e0e0;

@mixin tablet {
    @media (min-width: 725px) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  